/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: border-box;
  }



/*========= my styles ============*/


body{
	font-family:sans-serif;
	
  /*background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
  /*background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  /*background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  /*background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  
	background: #DFE4E6; /* W3C */
        
}

textarea{
	border:none;
	resize:none;
}

*:focus {outline:none;}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

.small-avatar{
	width:25px;
	float: left;
	overflow:hidden;
	height:25px;
}

.small-avatar img{
	border-radius:20px;
}

.img-responsive{
	width:100%;
}

.clearfix{
	clear: both;
}

#container{

	/* display: table; */

	border-radius: 5px;

	margin: 50px auto;

	width: 1050px;
	background: #fff;
	

	min-height: 545px;


}


#header{
    border-radius: 5px 5px 0px 0px;
    
    min-height: 50px;
    background: #374249;
	
    width: 100%;
}


#logo{
	border-radius: 4px 0px 0px;
	height: 50px;
	background: #45A7B9;
	width: 70px;
	padding: 13px 25px;
	color: #fff;
	font-size: 22px;
}

#nav{
	padding: 19px 20px;
	color:#656E73;
	font-size:13px;
}

#nav span{
	padding-bottom: 2px;
	margin-left:20px;
	padding-right: 2px;
	padding-left: 2px;
	
}

#nav span.selected{
	color:#fff;
	border-bottom: 2px solid #45A7B9;
}

#nav span:hover{
	border-bottom: 2px solid #45A7B9;
	color:#fff;
	cursor:pointer;
}



#ticket-button{
	background:#EC7B65;
	color:#fff;
	margin: 14px 0px;
	font-size: 8px;
	padding: 8px 10px;
	border-radius:12px;


	}

#ticket-button:hover{
	cursor:pointer;
	background: #F08E7A;
}


#ticket-button span{
	font-size:13px;
	margin: -6px 0px 0px 10px;
}

#icon-list{
	
	
	font-size:12px;
	margin:18px 20px;
}


#icon-list .glyphicons{
	color:#778084;
}

#icon-list .glyphicons:hover{
	cursor:pointer;
	color:lightgray;
}

#icon-list span{
	color:#465157;
	margin-left:20px;
}


#body-container{
	float: left;

	display: flex;
	width: 100%;
	margin-top: -2px;
}

#sidebar{
	border-right: 1px solid #F3F5F5;
	float:left;
	width: 20%;
	min-height: 350px;
}


.sidebar-title{
	font-size:8px;
	color:#AEB8B9;
	font-weight:bold;
	margin: 40px 20px 5px;}

#sidebar-actions{
	border-bottom: 1px solid #F3F5F5;
	margin: 10px 20px 0px;
	color:#C2C9CA;
	font-size:11px;


	padding-bottom: 15px;
}

#sidebar-actions .titles{
	padding:10px 0px;

}

#sidebar-actions .titles{
	color:#5D686D;
	font-weight:bold;
}

#sidebar-actions .titles.selected{
	color:#45A7B9;
	cursor:initial;
}


#sidebar-actions .titles:hover{
	color:#45A7B9;
	cursor:pointer
}

#sidebar-actions .titles .glyphicons{
	margin-right:5px;
}

#sidebar-actions .sub-titles{
	padding:0px 0px 7px 20px;
	font-weight:bold;
	
}


#sidebar-actions .sub-titles.selected{
	color:#5D686D;
	cursor:initial;
}
#sidebar-actions .sub-titles:hover{
	color:#5D686D;
	cursor:pointer;
}

#sidebar-feed{
	padding:20px;
	color:#8D9699;
	font-size:10px;
} 


#sidebar-feed .feeditem .small-avatar{
	width:15px;
	
}

#sidebar-feed .feeditem .feed-story{
    margin-left: 10px;
    width: 110px;

    margin-bottom: 10px;
    line-height: 15px;
}
#sidebar-feed .feeditem .feed-story strong{
font-weight:bold;
color: #656E74;
}

#inbox{
	width: 48%;
    border-right: 1px solid #F3F5F5;
    float:left;

}

#inbox #top-bar{

	padding: 30px 20px 50px 20px;
	font-size:12px;
	color:#B5BBBD;
	border-bottom: 1px solid #F3F5F5;

}


#inbox #top-bar .icon{
	float:left;
	padding:5px;
	border-radius:14px;
	border: 1.5px solid;
	margin-left:10px;
	margin-top: -6px;
}



#inbox #top-bar .icon.selected{
color:#1EAA7B;

}


#inbox #top-bar .icon:hover{
color:#1EAA7B;
cursor:pointer;
}

#preview-box {
	width: 32%;

}

#preview-box #orange-box{
	background:#ED8E7B;
	padding:30px;
	font-size:15px;
	color:#fff;
	line-height:25px
}

#preview-box #name-box{
	font-size: 10px;
	height: 30px;
	margin-left: 40px;
	color: #F4AA9A;
}

#preview-box #name-box #title{
	margin-top: 13px;
	padding-top: 4px;
	line-height: 2px;
	color: #fff;
	font-weight: bold;
}




#fc_chat_layout {
	width:500px !important;
}